html {
  height: 100%;
}

body {
  background: linear-gradient(90deg, #97b5d3, #c2ccd1, #d0d0e2);
  min-height: 100%;
  margin: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
}

.container {
  margin-inline: auto;
  max-width: 1440px;
  height: 100%;
  display: flex;
  justify-content: center;
}
.calulator-area {
  margin-top: 150px;
  width: 500px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 400px;
  height: 600px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.09);
  box-shadow: 0px 0px 36px 12px rgba(34, 60, 80, 0.2);
  display: flex;
  flex-direction: column;
}

.output-field {
  margin-top: 40px;
  height: 80px;
  width: 315px;
  background-color: #f6f6f615;
  margin-inline: auto;
  text-align: right;
  align-content: center;
  padding-right: 10px;
  font-size: 24pt;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  overflow-x: hidden;
  box-shadow: 0px 0px 36px 12px rgba(163, 164, 164, 0.04);
}

.buttons-area {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  margin-inline: auto;
  margin-top: 30px;
  gap: 1px;
  column-gap: 1px;
}

.calculator-button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 60px;
  width: 80px;
  font-size: 11pt;
  border: 1px solid rgba(97, 98, 98, 0.092);
  border-radius: 2px;
  transition: 0.2s;
}
.calculator-button:hover {
  background-color: rgba(66, 73, 79, 0.754);
  color: aliceblue;
  box-shadow: 0px 0px 36px 12px rgba(34, 60, 80, 0.2);
}

.button-equally {
  width: 161px;
}
